/* calendar styles */
#calendar {
  a {
    color: #333;
    font-size: 2.2em;
    &:after {
      display: none;
    }
    &:hover {
      color: #1ab6f2;
      text-decoration: none;
    }
  }

  .fc-basicWeek-view,
  .fc-month-view {
    .fc-time {
      display: block;
    }

    a {
      font-size: 1.2em;
    }
  }

  .fc-event-container {
    padding: 0;
    a {
      box-sizing: border-box;
      margin: 0;
      width: 100%;
      max-width: 100%;
      color: white;
      &:after {
        display: none;
      }
    }
  }

  .fc-button-group {
    button {
      color: #000;
    }
  }
}

.cancellation-section {
  .cancel-link {
    display: none;
  }
}

.quick-view {
  float: right;

  &:after {
    display: none;
  }

  svg {
    width: 32px;
    height: 32px;
  }
}

#quick-view-modal {
  z-index: 99999;

  .close {
    float: right;
    color: #d8d8d8;
    font-size: 4rem;
    line-height: 0.5;
    &:after {
      display: none;
    }
  }

  h3 {
    margin-top: 0;
  }
}

#tour-info {
  dd {
    float: left;
    width: 200px;
    margin: 0;
    font-weight: bold;
  }

  dt {
    float: left;
    width: calc(100% - 200px);
    font-weight: 400;

    &.loading {
      background-position: 22px 4px;
    }
  }
}

#list-of-bookings {
  padding: 0;
}

.tour-checkin-content {
  &__header,
  &__input-holder {
    display: flex;
    align-items: center;
  }

  &__header-link,
  input[type='checkbox'] {
    margin-left: auto;
  }

  #list-of-bookings {
    margin: 20px 0;
    li {
      margin-bottom: 20px;
    }
  }
}

@media print {

  #list-of-bookings li h3 {
    page-break-inside: avoid;
  }
}
